@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Silkscreen&display=swap');
.content {
    text-decoration-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    font-size: 21px;
    text-decoration: solid;
    font-weight: 800;
    text-justify: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
}
body {
    background: #000000;
}

.circle {
    position: absolute;
    border-radius: 100%;
    background: #e44cff2d;
    animation: ripple 15s infinite;
    box-shadow: 0px 0px 1px 0px #3f2236;
}

.small {
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
}

.medium {
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
}

.large {
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
}

.xlarge {
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
}

.xxlarge {
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
}

.shade1 {
    opacity: 0.2;
}

.shade2 {
    opacity: 0.5;
}

.shade3 {
    opacity: 0.7;
}

.shade4 {
    opacity: 0.8;
}

.shade5 {
    opacity: 0.9;
}

@keyframes ripple {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.8);
    }
}
